<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>continent</key>
		<string>Africa</string>
		<key>countries</key>
		<array>
			<dict>
				<key>coutry</key>
				<string>Tazania</string>
				<key>capital</key>
				<string>Loboto</string>
				<key>flag</key>
				<string>taza</string>
			</dict>
			<dict>
				<key>coutry</key>
				<string>Sudan</string>
				<key>capital</key>
				<string>Khartoum</string>
				<key>flag</key>
				<string>sudan</string>
			</dict>
			<dict>
				<key>coutry</key>
				<string>Mali</string>
				<key>capital</key>
				<string>Bamako</string>
				<key>flag</key>
				<string>mali</string>
			</dict>
			<dict>
				<key>coutry</key>
				<string>Senega</string>
				<key>capital</key>
				<string>Dakar</string>
				<key>flag</key>
				<string>sene</string>
			</dict>
			<dict>
				<key>coutry</key>
				<string>Liberia</string>
				<key>capital</key>
				<string>Monrovia</string>
				<key>flag</key>
				<string>libe</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>continent</key>
		<string>Asia</string>
		<key>countries</key>
		<array>
			<dict>
				<key>coutry</key>
				<string>Viet Nam</string>
				<key>capital</key>
				<string>Ha Noi</string>
				<key>flag</key>
				<string>vietNam.png</string>
			</dict>
			<dict>
				<key>coutry</key>
				<string>Laos</string>
				<key>capital</key>
				<string>Vientiane</string>
				<key>flag</key>
				<string>laos.png</string>
			</dict>
			<dict>
				<key>coutry</key>
				<string>Cambodia</string>
				<key>capital</key>
				<string>Phnom Penh</string>
				<key>flag</key>
				<string>Cambodia.png</string>
			</dict>
			<dict>
				<key>coutry</key>
				<string>North Korea</string>
				<key>capital</key>
				<string>Pyongyang</string>
				<key>flag</key>
				<string>northKorea.png</string>
			</dict>
			<dict>
				<key>coutry</key>
				<string>Singapore</string>
				<key>capital</key>
				<string>Singapore</string>
				<key>flag</key>
				<string>singapore.png</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>continent</key>
		<string>Europe</string>
		<key>countries</key>
		<array>
			<dict>
				<key>coutry</key>
				<string>Italy</string>
				<key>capital</key>
				<string>Roma</string>
				<key>flag</key>
				<string>y</string>
			</dict>
			<dict>
				<key>coutry</key>
				<string>France</string>
				<key>capital</key>
				<string>Paris</string>
				<key>flag</key>
				<string>france</string>
			</dict>
			<dict>
				<key>coutry</key>
				<string>England</string>
				<key>capital</key>
				<string>London</string>
				<key>flag</key>
				<string>england</string>
			</dict>
			<dict>
				<key>coutry</key>
				<string>Spain</string>
				<key>capital</key>
				<string>Madrid</string>
				<key>flag</key>
				<string>spain</string>
			</dict>
			<dict>
				<key>coutry</key>
				<string>Germany</string>
				<key>capital</key>
				<string>Berlin</string>
				<key>flag</key>
				<string>germany</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>continent</key>
		<string>America</string>
		<key>countries</key>
		<array>
			<dict>
				<key>coutry</key>
				<string>Canada</string>
				<key>capital</key>
				<string>Ottawa</string>
				<key>flag</key>
				<string>canada.png</string>
			</dict>
			<dict>
				<key>coutry</key>
				<string>Mexico</string>
				<key>capital</key>
				<string>Mexico</string>
				<key>flag</key>
				<string>mexico.png</string>
			</dict>
			<dict>
				<key>coutry</key>
				<string>Venezuela</string>
				<key>capital</key>
				<string>Caracas</string>
				<key>flag</key>
				<string>vene.png</string>
			</dict>
			<dict>
				<key>coutry</key>
				<string>Cuba</string>
				<key>capital</key>
				<string>La Habana</string>
				<key>flag</key>
				<string>cuba.png</string>
			</dict>
			<dict>
				<key>coutry</key>
				<string>Panama</string>
				<key>capital</key>
				<string>Panama</string>
				<key>flag</key>
				<string>panama.png</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>continent</key>
		<string>Oceania</string>
		<key>countries</key>
		<array>
			<dict>
				<key>coutry</key>
				<string>Australia</string>
				<key>capital</key>
				<string>Canberra</string>
				<key>flag</key>
				<string>australia.png</string>
			</dict>
			<dict>
				<key>coutry</key>
				<string>New Zealand</string>
				<key>capital</key>
				<string>Wellington</string>
				<key>flag</key>
				<string>newzealand.png</string>
			</dict>
			<dict>
				<key>coutry</key>
				<string>Papua New Guinea</string>
				<key>capital</key>
				<string>Port Moresby</string>
				<key>flag</key>
				<string>PNG.png</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
