<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>continent</key>
		<string>Africa</string>
		<key>countries</key>
		<array>
			<dict>
				<key>coutry</key>
				<string>Tazania</string>
				<key>capital</key>
				<string>Loboto</string>
				<key>flag</key>
				<string>tanzania.png</string>
			</dict>
			<dict>
				<key>coutry</key>
				<string>Sudan</string>
				<key>capital</key>
				<string>Loboto</string>
				<key>flag</key>
				<string>tanzania.png</string>
			</dict>
			<dict>
				<key>coutry</key>
				<string>Tazania</string>
				<key>capital</key>
				<string>Loboto</string>
				<key>flag</key>
				<string>tanzania.png</string>
			</dict>
			<dict>
				<key>coutry</key>
				<string>Tazania</string>
				<key>capital</key>
				<string>Loboto</string>
				<key>flag</key>
				<string>tanzania.png</string>
			</dict>
			<dict>
				<key>coutry</key>
				<string>Tazania</string>
				<key>capital</key>
				<string>Loboto</string>
				<key>flag</key>
				<string>tanzania.png</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>continent</key>
		<string>Asia</string>
		<key>countries</key>
		<array>
			<dict>
				<key>coutry</key>
				<string>Tazania</string>
				<key>capital</key>
				<string>Loboto</string>
				<key>flag</key>
				<string>tanzania.png</string>
			</dict>
			<dict>
				<key>coutry</key>
				<string>Tazania</string>
				<key>capital</key>
				<string>Loboto</string>
				<key>flag</key>
				<string>tanzania.png</string>
			</dict>
			<dict>
				<key>coutry</key>
				<string>Tazania</string>
				<key>capital</key>
				<string>Loboto</string>
				<key>flag</key>
				<string>tanzania.png</string>
			</dict>
			<dict>
				<key>coutry</key>
				<string>Tazania</string>
				<key>capital</key>
				<string>Loboto</string>
				<key>flag</key>
				<string>tanzania.png</string>
			</dict>
			<dict>
				<key>coutry</key>
				<string>Tazania</string>
				<key>capital</key>
				<string>Loboto</string>
				<key>flag</key>
				<string>tanzania.png</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>continent</key>
		<string>EU</string>
		<key>countries</key>
		<array>
			<dict>
				<key>coutry</key>
				<string>Tazania</string>
				<key>capital</key>
				<string>Loboto</string>
				<key>flag</key>
				<string>tanzania.png</string>
			</dict>
			<dict>
				<key>coutry</key>
				<string>Tazania</string>
				<key>capital</key>
				<string>Loboto</string>
				<key>flag</key>
				<string>tanzania.png</string>
			</dict>
			<dict>
				<key>coutry</key>
				<string>Tazania</string>
				<key>capital</key>
				<string>Loboto</string>
				<key>flag</key>
				<string>tanzania.png</string>
			</dict>
			<dict>
				<key>coutry</key>
				<string>Tazania</string>
				<key>capital</key>
				<string>Loboto</string>
				<key>flag</key>
				<string>tanzania.png</string>
			</dict>
			<dict>
				<key>coutry</key>
				<string>Tazania</string>
				<key>capital</key>
				<string>Loboto</string>
				<key>flag</key>
				<string>tanzania.png</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>continent</key>
		<string>America</string>
		<key>countries</key>
		<array>
			<dict>
				<key>coutry</key>
				<string>Tazania</string>
				<key>capital</key>
				<string>Loboto</string>
				<key>flag</key>
				<string>tanzania.png</string>
			</dict>
			<dict>
				<key>coutry</key>
				<string>Tazania</string>
				<key>capital</key>
				<string>Loboto</string>
				<key>flag</key>
				<string>tanzania.png</string>
			</dict>
			<dict>
				<key>coutry</key>
				<string>Tazania</string>
				<key>capital</key>
				<string>Loboto</string>
				<key>flag</key>
				<string>tanzania.png</string>
			</dict>
			<dict>
				<key>coutry</key>
				<string>Tazania</string>
				<key>capital</key>
				<string>Loboto</string>
				<key>flag</key>
				<string>tanzania.png</string>
			</dict>
			<dict>
				<key>coutry</key>
				<string>Tazania</string>
				<key>capital</key>
				<string>Loboto</string>
				<key>flag</key>
				<string>tanzania.png</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>continent</key>
		<string>Oceania</string>
		<key>countries</key>
		<array>
			<dict>
				<key>coutry</key>
				<string>Australia</string>
				<key>capital</key>
				<string>Canberra</string>
				<key>flag</key>
				<string>australia.png</string>
			</dict>
			<dict>
				<key>coutry</key>
				<string>New Zealand</string>
				<key>capital</key>
				<string>Wellington</string>
				<key>flag</key>
				<string>newzealand.png</string>
			</dict>
			<dict>
				<key>coutry</key>
				<string>Papua New Guinea</string>
				<key>capital</key>
				<string>Port Moresby</string>
				<key>flag</key>
				<string>PNG.png</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
